.row{
  --bs-gutter-x: 0;
}

.itemListContainer{
  justify-content: center;
  display: flex;
  padding-top: 60px;
}

.cardContainer{
  display: flex;
  justify-content: center;
}

.card-header{
  background-color: transparent;
}

.card{
  box-shadow: 3px 3px 10px #8080806b;
  border: none;
  width: 320px;
  height: 400px;
  transition: transform .2s;
}

.card-text{
  font-size: 25px;
}

.card:hover{
  transform: scale(1.1);
}

.card-img{
  height: 205px;
}

.count{
  text-align: center;
  background-color: transparent !important;
}

.add-btn{
  width: 16rem;
}

.navbar {
  width: 100% !important;
}

.navbar-collapse{
  justify-content: space-between;
}
